@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-color: lightseagreen;
    margin: 0px;

    min-height: 100%;

    display: flex;
    flex-direction: column;
}

header {

}

main {

}

footer{
    margin-top: auto;
}

.butWatch{
    background-color: rebeccapurple;
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 3px #0000002f;
    color: whitesmoke;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.411);

}

.centered {
    margin: auto;
    margin-top: 64px;
    border: 1px solid black;
    max-width: 800px;
    text-align: center;

    background-color: lightgray;
}

.centered h1{
    margin-top: 5px;
    font-family: 'Pacifico';
    font-size: 1.3em;
}

.counterFlex {
    display: flex;
    flex-direction: column;
}

.footerInfo{
    background-color: black;
}

.footerInfo p {
    padding: 6px;
    color: lightskyblue;
    text-align: center;
    font-size: 1.2em;
}

.footerInfo a{
    color: whitesmoke;
    text-decoration: none;
    padding: 2px;
}

.footerInfo a:hover{
    color: lightblue;
    text-decoration: underline;
}

.headerFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

.headerFlex nav{
    margin: auto 0;
}

.headerFlex h1{
    color: whitesmoke;
    padding: 10px 5px;
    margin-left: 5px;
}

.headerFlex h1 > a {
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}

.headerFlex h1 > a:hover {
    text-decoration: underline;
    color: lightblue;
}

.headerList{
    list-style: none;
}

.headerList a{
    padding: 5px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.headerList a:hover {
    color: lightblue;
    text-decoration: underline;
}

.headerList a::after{
    content: " \1F517";
}

